travelagency/src/conf/xml-resources/web-service-references/HotelWS/wsdl/localhost_8080/HotelWS/HotelWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://hotelWS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://hotelWS/">

<xs:element name="booking" type="tns:booking"/>

<xs:element name="bookingResponse" type="tns:bookingResponse"/>

<xs:element name="freeRooms" type="tns:freeRooms"/>

<xs:element name="freeRoomsResponse" type="tns:freeRoomsResponse"/>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="id_hotel" type="xs:int" minOccurs="0"/>
<xs:element name="fecha" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookingResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="freeRooms">
<xs:sequence>
<xs:element name="id_hotel" type="xs:int" minOccurs="0"/>
<xs:element name="date" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="freeRoomsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>