travelagency/web/WEB-INF/wsdl/localhost_8080/VueloWebService/VueloWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://vuelo.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://vuelo.me.org/">

<xs:element name="consule_libres" type="tns:consule_libres"/>

<xs:element name="consule_libresResponse" type="tns:consule_libresResponse"/>

<xs:element name="reserva_plaza" type="tns:reserva_plaza"/>

<xs:element name="reserva_plazaResponse" type="tns:reserva_plazaResponse"/>

<xs:complexType name="consule_libres">
<xs:sequence>
<xs:element name="id_vuelo" type="xs:int" minOccurs="0"/>
<xs:element name="fecha" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consule_libresResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva_plaza">
<xs:sequence>
<xs:element name="id_vuelo" type="xs:int" minOccurs="0"/>
<xs:element name="fecha" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva_plazaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>